body{
    font-family: 'Roboto', sans-serif;
    background: black;
}
.container{
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    padding-top: 51px;
    margin-bottom: 22px;
}
.header-link{
    display: flex;
    width: 150px;
}
.header-title {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.title-logo-text{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.white-logo-img{
    display: block;
}
.orange-logo-img{
    visibility: hidden;
    position: fixed;

}

.header-link:hover .header-title{
    color: #F26522;
}
.header-link:hover .title-logo-text{
    color: #F26522;
}
.header-link:hover .orange-logo-img{
    visibility: unset;
}
.white-logo-img{
    height: 47px;
}
.text-wrapper-header{
    display: flex;
    justify-content: space-between;
}
.contacts{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.header-mail{
    padding-bottom: 19px;
}
.contacts:hover{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #F26522;
}

.tours-list-item{
    position: relative;
}

.tours-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
    list-style-type: none;
    padding-left: 0;
}
.text-hidden-block{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    padding-left: 16px;
    padding-top: 7px;
}
.text-hidden-block-span{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 8px;
}
.hidden-block-text-wrapper{
    display: flex;
    justify-content: space-between;
}
.button-hidden-block{
    padding-top: 29px;
    padding-right: 11px;
}
.button-hidden-block::after{
    content: url("../img/vector_1.png");
    margin-left: 16px;
}

.tours-image{
    height: 100%;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0) 100%);
}

.hidden-block {
    position: absolute;
    top: 215px;
    right: 0;
    background: #F26522;
    width: 100%;
    height: 25%;
    display: none;
    color: #FFFFFF;

}
.tours-list-item:hover .hidden-block{
    display: block;
}
.img-block{
    height: 100%;
}

.signature-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;;
}

.tours-list-item:hover .signature-text{
    color: #F26522;
}

.footer{
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
}

